<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="index.html">
      <img src="images/mainLogo.png" alt="Logo" style="height: 30px; margin-right: 10px;">
      Resume Portal
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com" target="_blank">LinkedIn</a>
        </li>
        <!-- Login Button -->
        <li class="nav-item" id="loginLink">
          <a href="/auth/google" class="btn btn-light">
            <img src="https://www.google.com/favicon.ico" alt="Google" style="width: 20px; margin-right: 8px;">
            Login with Google
          </a>
        </li>
        <!-- Logout Button -->
        <li class="nav-item d-flex align-items-center d-none" id="logoutLink">
          <span class="nav-link text-light" id="userName"></span>
          <button class="btn btn-danger ms-2" id="logoutBtn">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>